numpy==1.16.6
scipy==1.2.3
matplotlib==2.2.5
tqdm==4.64.1
future==0.18.3
six==1.16.0
enum34==1.1.10
configparser==4.0.2
backports.functools-lru-cache==1.6.4
joblib==0.14.1
pandas==0.24.2
seaborn==0.9.1
dash==1.19.0
plotly==4.14.3
healpy==1.14.0
astropy==2.0.16
